<%= form_for @job, html: {class: 'new-job-form'} do |job| %>
	<div class="row">
		<div class="form-group col-md-6">
			<%= job.text_field :title, placeholder: 'Job title', class: 'form-control' %>
		</div>

		<div class="form-group col-md-6">
			<%= job.text_field :contact_with_company, placeholder: 'Contact with Company', class: 'form-control' %>
		</div>

		<div class="form-group col-md-6">
			<%= job.text_field :job_reference_code, placeholder: 'Reference ID', class: 'form-control' %>
		</div>

		<div class="form-group col-md-6">
			<%= job.text_field :manager_name, placeholder: 'Manager Name', class: 'form-control' %>
		</div>

		<div class="form-group col-md-6">
			<%= job.text_field :city_location, placeholder: 'City Location', class: 'form-control' %>
		</div>

		<div class="form-group col-md-6">
			<%= job.text_field :board_name, placeholder: 'Board Name', class: 'form-control' %>
		</div>

		<div class="form-group col-md-12">
			<div class="form-group col-md-8">
				<%= generate_radio_boxes :job, :level, Job.levels %>
			</div>
			
			<div class="form-group col-md-8">
				<%= job.text_area :description, placeholder: 'Description', class: 'form-control' %>
			</div>
		</div>

		<div class="row col-md-12">
			<h2 class="col-md-12">Company:</h2>
			<%= job.fields_for :company do |company_field| %>	
				<%= render 'company_fields', company: company_field %>
			<% end %>
		</div>
		<div class="btn-group">
			<%= job.submit 'Save', class: 'btn btn-primary btn-space' %>
			<%= link_to 'Cancel', jobs_path, class: 'btn btn-secondary' %>
		</div>

	</div>
<% end %>
