<h1>Jobs being tracked:</h1>
<div class="row col-md-12 justify-content-center">
		<%= paginate @jobs %>
</div>
<div class="row">
<%= link_to 'Add Job to track', new_job_path, class: 'btn btn-success btn-block' %>
	<% @jobs.each do |job| %>
		<div class="col-md-3 mx-auto job-cards">
			<div class="card">
				<div class="card-block">
					<h3 class="card-title"><%= job.title %></h3>
					<small class="card-subtitle mb-2 text-muted">
						<%= time_ago_in_words(job.created_at) + ' ago' %>
					</small>
					<p class="card-text">
						<%= truncate(job.description) %>
					</p>
						<%= link_to "View job", job_path(job), class: 'btn btn-info btn-sm btn-block' %>
				</div>
			</div>
		</div>
	<% end %>
		<div class="row col-md-12 justify-content-center">
				<%= paginate @jobs %>
		</div>
</div>
