<div class="container">

	<p><%= @job.title %></p>
	<p><%= @job.level %></p>
	<p><%= @job.description %></p>
	<p><%= @job.job_reference_id %></p>
	<p><%= @job.city_locaiton %></p>
	<p><%= @job.board_name %></p>
	<p><%= @job.manager_name %></p>
	<p><%= @job.contact_with_company %></p>
	
</div>

<%= link_to 'Back', jobs_path %>
